<a href="/admin">Dashboard</a>
<a href="/admin/users">Users</a>
<a href="/admin/create-user">Create new user</a>
<a href="/admin/books">Books</a>
<a href="/admin/create-book">Create new book</a>
<button class="logout"><a href="/logout">Log Out</a></button>
