<%- include('../partials/bootstrap'); %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link link-secondary" href="/admin">Dashboard</a>
  <a class="nav-link link-secondary" href="/admin/users">Users</a>
  <a class="nav-link link-secondary" href="/admin/create-user"
    >Create new user</a
  >
  <a class="nav-link link-secondary" href="/admin/books">Books</a>
  <a class="nav-link link-secondary" href="/admin/create-book"
    >Create new book</a
  >
  <div class="ms-auto mx-3">
    <div class="btn-nav">
      <a class="btn btn-secondary btn-small navbar-btn" href="/logout"
        >Logout</a
      >
    </div>
  </div>
</nav>
