<div class="edit"></div>
<a href="/user/books/">Books</a>
<a href="/user/my-books/">Lend books</a>
<a href="/user/my-history/">History</a>
<script>
  const edit = document.querySelector(".edit");
  const getID = async () => {
    const res = await fetch(`/api/auth/getID`);
    const data = await res.json();
    let div = `
        <a href="/user/edit-user/${data.user}">Edit my profile</a>
    `;
    edit.innerHTML += div;
  };
  getID();
</script>
