<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History</title>
  </head>
  <body>
    <div class="container">
      <div class="display" style="background-color: red"></div>
      <h1 class="text-left my-5">User history</h1>
      <%- include('../../partials/adminNavbar'); %>
      <ul></ul>
    </div>
    <script>
      var id_user = "";

      const ul = document.querySelector("ul");
      const display = document.querySelector(".display");

      const getLendBooks = async () => {
        const url = window.location.href.split("/");
        const res_id = await fetch(`/api/auth/getUser/${url.slice(-1).pop()}`);
        const data_id = await res_id.json();
        id_user = data_id.user;
        const res = await fetch("/api/auth/getHistoryOfLendBooks", {
          method: "POST",
          body: JSON.stringify({
            id: id_user.id,
          }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        if (res.status === 400 || res.status === 401) {
          return (display.textContent = `${data.message}. ${
            data.error ? data.error : ""
          }`);
        }

        ul.innerHTML = "";
        data.book.map((mappedBook) => {
          let li = `
                  <li>
                    <b>Name</b> => ${mappedBook.name} <br>
                    <b>Author</b> => ${mappedBook.author} <br>
                    <b>Number of pages</b> => ${mappedBook.numberOfPages} <br>
                    <b>Year</b> => ${mappedBook.year} <br>
                    <b>Titlepage image</b> => <img src="${
                      mappedBook.titlePageImage
                    }"> <br>
                    <b>Coverpage image</b> => <img src="${
                      mappedBook.coverImage
                    }"> <br>

                    <b>Time</b> => ${mappedBook.time.substring(0, 10)} <br>
                  </li>
                  `;
          ul.innerHTML += li;
          const returnBook = document.querySelectorAll(".return");
        });
      };
      getLendBooks();
    </script>
  </body>
</html>
