<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin page</title>
  </head>
  <body>
    <div class="container">
      <div class="display" style="background-color: red"></div>
      <h1 class="text-left my-5">Book</h1>
      <%- include('../../partials/adminNavbar'); %>
      <ul></ul>
    </div>
    <script>
      const ul = document.querySelector("ul");
      const display = document.querySelector(".display");
      const getBook = async () => {
        const url = window.location.href.split("/");
        const res = await fetch(`/api/auth/getBook/${url.slice(-1).pop()}`);
        const data = await res.json();
        let li = `
            <li>
                <b>Name</b> => ${data.book.name} <br>
                <b>Author</b> => ${data.book.author} <br>
                <b>Number of pages</b> => ${data.book.numberOfPages} <br>
                <b>Year</b> => ${data.book.year} <br>
                <b>Titlepage image</b> => ${data.book.titlePageImage} <br>
                <b>Titlepage image</b> => <img src="${
                  data.book.titlePageImage
                }"> <br>
                <b>Coverpage image</b> => <img src="${
                  data.book.coverImage
                }"> <br>

                <b>Number o licenses</b> => ${data.book.numberOfLicense} <br>
                <b>ID</b> => ${data.book.id}<br>
              </li>
              <a href="/admin/detail-book/${data.book.id}">Detail</a>
              <a href="/admin/edit-book/${data.book.id}">Edit</a>
              ${
                data.book.numberOfLicense !== data.book.originalNumberOfLicense
                  ? `<div >You don't can delete, book was lended</div>`
                  : `<button class="delete">Delete Book</button>`
              }
              `;
        ul.innerHTML += li;

        const deleteBook = document.querySelector(".delete");

        deleteBook.addEventListener("click", async () => {
          display.textContent = "";
          const id = data.book.id;
          const res = await fetch("/api/auth/deleteBook", {
            method: "DELETE",
            body: JSON.stringify({ id }),
            headers: { "Content-Type": "application/json" },
          });
          const dataDelete = await res.json();
          if (res.status === 401) {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
            return (display.textContent = `${dataUpdate.message}. ${
              dataUpdate.error ? dataUpdate.error : ""
            }`);
          }
          location.assign("/admin/books");
        });
      };
      getBook();
    </script>
  </body>
</html>
